html{
  background-color:black;
}
h1 {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  color:red;
}
h2{
  color:red;
}
.listcontainer{
  margin-top: 2%;
  background-color: white;
  border: 2px solid red;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  max-width: 400px;
}
input{
  margin-bottom: 5%;
}
.removeitem{
  background:none;
  border:none;
  color:red;
  cursor: pointer;
}
ul{
  list-style: none;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:15%;
  width: 200px;
}
.pdfdownload{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin-top:3%;
}
.downloadbttn{
  background-color: red;
  color:white;
  border-radius:10px;
  cursor: pointer;
  border:none;
  padding: 10px;
}
.downloadbttn:hover{
color:black;
}